@media screen and (max-width:576px) {

    /** common css **/
    .btn-primary {
        padding: 8px 24px;
        font-size: 1rem;
    }

    .d-md-none {
        display: none;
    }

    .heading-two {
        font-size: 1.63rem;
    }

    .d-flex {
        flex-direction: column;
    }

    /** common css **/
    /** start header css **/
    .header-nav {
        padding: 12px 16px;
        border-bottom: 1px solid var(--orange);
    }

    .navbar-toggler {
        display: block;
    }

    .header-nav ul {
        display: none;
    }

    .header-nav .btn-contact {
        display: none;
    }

    /** end header css **/
    /** start banner css **/
    .banner {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }

    .banner h1 {
        font-size: 2.1rem;
    }

    .banner p {
        font-size: 0.88rem;
        padding: 18px 0;
    }

    /** end banner css **/

    /** start start Standard Curriculum css **/
    .standard-curriculum {
        padding: 0 15px;
    }

    .sc-features_item h3 {
        font-size: 1.1rem;
        padding: 20px 0;
    }

    .standard-curriculum h2 {
        padding: 20px 0;
    }

    .sc-features_item {
        margin-bottom: 0;
    }

    .sc-features {
        gap: 15px;
        margin-bottom: 20px;
    }

    /** end start Standard Curriculum css **/

    /** start our stories css **/
    .our-stories {
        padding: 40px 15px;
    }

    .our-stories h2 {
        line-height: 2.3;
        margin-bottom: 20px;
    }

    .our-stories-grid {
        display: grid;
        gap: 11px;
        grid-template-columns: 0.50fr 0.50fr;
        grid-template-areas:
            "story-grid-2 story-grid-3"
            "story-grid-4 story-grid-5";
    }

    .our-stories>button {
        margin: 20px auto 0;
    }

    .story-item .story-date {
        font-size: 0.625rem;
        padding: 6px 11px;
        margin-top: -19px;
    }

    .story-item h3 {
        font-size: 0.625rem;
    }

    .story-item-content {
        padding: 0 22px 17px;
    }

    /** end our stories css **/
    /** start footer css **/
    .footer {
        padding: 50px 15px;
    }

    .footer-section.footer-section-1 {
        padding-right: 0;
    }

    .footer-content {
        gap: 32px;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-section li {
        margin-bottom: 15px;
    }

    .footer-section h3 {
        margin-bottom: 25px;
    }

    .footer-logo h2 {
        font-size: 2.18rem;
    }

    /** end footer css **/
}

@media screen and (min-width:577px) and (max-width:992px) {

    /** common css **/
    .d-md-none {
        display: none;
    }

    .d-flex {
        flex-direction: column;
    }

    /** common css **/
    /** start header css **/
    .header-nav {
        padding: 12px 16px;
        border-bottom: 1px solid var(--orange);
    }

    .navbar-toggler {
        display: block;
    }

    .header-nav ul {
        display: none;
    }

    .header-nav .btn-contact {
        display: none;
    }

    /** end header css **/
    /** start banner css **/
    .banner {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        gap: 30px;
    }

    /** end banner css **/

    /** start start Standard Curriculum css **/
    .standard-curriculum {
        padding: 0 15px;
    }

    .sc-features_item h3 {
        font-size: 1.1rem;
        padding: 20px 0;
    }

    .standard-curriculum h2 {
        padding: 20px 0;
    }

    .sc-features_item {
        margin-bottom: 0;
    }

    .sc-features {
        gap: 15px;
        margin-bottom: 20px;
    }

    /** end start Standard Curriculum css **/
    /** start our stories css **/
    .our-stories {
        padding: 40px 15px;
    }

    .our-stories h2 {
        line-height: 2.3;
        margin-bottom: 20px;
    }

    .our-stories-grid {
        display: grid;
        gap: 11px;
        grid-template-columns: 0.50fr 0.50fr;
        grid-template-areas:
            "story-grid-2 story-grid-3"
            "story-grid-4 story-grid-5";
    }

    .story-item img {
        width: 100%;
    }

    /** end our stories css **/
    /** start footer css **/
    .footer {
        padding: 50px 15px;
    }

    .footer-section.footer-section-1 {
        padding-right: 0;
    }

    .footer-content {
        gap: 32px;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-section li {
        margin-bottom: 15px;
    }

    .footer-section h3 {
        margin-bottom: 25px;
    }

    .footer-logo h2 {
        font-size: 2.18rem;
    }

    /** end footer css **/
}

@media screen and (min-width:993px) and (max-width:1159px) {

    /** start banner css **/
    .banner {
        padding: 0 20px;
    }

    .footer-section.footer-section-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    /** end banner css **/
}